.footer{
    overflow: hidden;
    position: sticky;
    top: 100%;
    background-color: #557A95;
    padding: 20px 10px;
    margin: 0px;
}

h1{
    color: #E8A87C;
    font-size: 40px;

    font-style:italic;
    
}

a{
    color: #E8A87C;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 17px;
}

a:hover{
    color: #E98074;
}

i{
    padding: 0px 10px;
}

p{
    color: #afd275;
    font-size: 12px;
}
