
<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size:40px;" class="fas fa-shipping-fast">&nbsp;
                
            </i>
            <strong style="font-size:30px;">AnimeSQL</strong>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search product">
            </div>
            <span class="fa fa-search search-icon"></span>




            </div>
            <button routerLink="cart" class="btn btn-primary"></button>
            <i style ="font-size: 30px" class="fas fa-cart-plus">{{totalItem}}</i>

            </div>
            </header>

    
  <!-------  <a routerLink="/cart" class="button fancy-button">
        <i class="material-icons">cart</i>
        </a>
        </div>


</div>
</header> ---->


<!-------<a [routerLink]="['/']">
    <h1>Store</h1>
</a>

<a routerLink="/cart" class="button fancy-button">
<i class="material-icons">cart</i>
</a>------>


