<div class="container mt-5 mb-5">
    <h1>Contact</h1>
    <form [formGroup] ="contactForm" (ngSubmit)="onSubmit()"col-lg-8>
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" id="name" placeholder="Enter First Name" >
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" id="last"placeholder="Enter Last Name" >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" id="email"placeholder="Enter Email" >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" id="number" placeholder="Enter Mobile#" >
            </div>
            <div class="col-lg-12">
                <button class="btn btn-md btn-dark">Submit</button>
            </div>
            


        </div>
    </form>
</div>