<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title> Please Sign In below </mat-card-title>
</mat-card-header>
<form class="example-form">
<mat-card-content>
<mat-form-field class="example-full-width">
<input matInput placeholder="Username" name="username"
formController="username"
[(ngModel)]="username">
</mat-form-field>
<mat-form-field class="example-full-width">
<input matInput placeholder="Password"
type="password"
name="password"
formController="password"
[(ngModel)]="password">
</mat-form-field>
</mat-card-content>
<button mat-stroked-button color="accent" (click)="onSubmit()" class= "btn-block">Log in</button>
<p>Need a new account? <a routerLink="/register"> Sign up now!</a></p>
</form>
