
<!------------<header>
  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
      </i>
    </div>
  </div>
  <strong style="font-size:30px">Static Weeb</strong>------>
<!-- Search form
<form>
  <div class="md-form">
    <input type="search" [(ngModel)]="searchText" placeholder="Search text">
  </div>
  <ul *ngFor="let data of dataset | filter: searchText">
    <li>{{data}}</li>
  </ul>
</form>------->




<!------</header>----->

<div>
  <app-header>
      
  </app-header>
  </div>



<!---<h1>{{ "store" }}</h1>
<app-top-bar></app-top-bar>       LEAVE THIS JUST INCASE--->




<!-- Dark Theme Button
<button (click)="toggleDarkTheme()">Dark Theme</button> --->



  <app-top-bar></app-top-bar>
  <router-outlet></router-outlet>

<!-- Dark Theme Button moved to topbar component -->

<!-- Top Bar -->



<!-- Products 
<div class="container">
  <router-outlet></router-outlet>
</div> ----->


